<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: site-header"></div>
</head>
<body>
    <div class="page-wrapper" th:classappend="${#locale}">
        <div th:replace="fragments :: site-navigation"></div>

        <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#" th:text="#{label.admin}"></a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/admin/categories'}" th:text="#{label.categories}"></a></li>
                    <th:block th:each="category: ${parentCategoryList}">
                        <li class="breadcrumb-item">
                            <a th:href="@{'/admin/categories/' + ${category.id} + '/children'}" th:text="${category.name}"></a>
                        </li>
                    </th:block>
                </ol>
            </nav>
        </div>

        <div class="container-fluid">
            <div th:if="${categories == null || categories.size() <= 0}">
                <h1 class="display-6 text-center m-5" th:text="#{label.noCategory}"></h1>
            </div>
            <div th:if="${categories != null && categories.size() > 0}">
                <h1 class="display-6 text-center m-5" th:text="#{label.categoryList}"></h1>

                <div class="d-flex justify-content-end mb-3">
                    <a th:href="@{'/admin/categories/create'}" class="btn btn-primary" th:text="#{label.addCategory}"></a>
                </div>

                <div class="rounded-3 overflow-hidden shadow">
                    <table class="table table-bordered table-striped table-hover table-responsive-xl m-0">
                        <thead class="table-dark">
                            <tr>
                                <th th:text="#{label.id}"></th>
                                <th th:text="#{label.photo}"></th>
                                <th th:text="#{label.name}"></th>
                                <th th:text="#{label.enabled}"></th>
                                <th th:text="#{label.actions}"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="category: ${categories}"
                                th:id="${'category_row_' + category.id}">
                                <td><span th:text="${category.id}"></span></td>
                                <td>
                                    <img th:src="@{${category.photoUrl != null ? '/uploads/category/' + category.photoUrl : '/images/avatar.jpg'}}"
                                         class="rounded"
                                         style="width: 40px; height: 40px;"
                                         alt="">
                                </td>
                                <td>
                                    <span th:text="${category.name}"></span>
                                    <a th:if="${category.subCategories.size() > 0}" th:href="@{'/admin/categories/' + ${category.id} + '/children'}">
                                        <span th:text="${'(' + category.subCategories.size() + ' Sub Categories)'}"></span>
                                    </a>
                                </td>
                                <td>
                                    <span class="user-state-icon-enabled text-success"
                                          th:classappend="${category.enabled == false ? 'd-none' : ''}">
                                        <i class="fa fa-check-circle"></i>
                                    </span>

                                    <span class="user-state-icon-disabled text-danger"
                                          th:classappend="${category.enabled == true ? 'd-none' : ''}">
                                        <i class="fa fa-times-circle"></i>
                                    </span>
                                </td>
                                <td>
                                    <div style="display: inline-block"
                                         data-bs-toggle="tooltip"
                                         data-bs-placement="top"
                                         th:title="#{label.editCategory}">
                                        <a class="btn btn-primary btn-sm"
                                           target="_blank"
                                           th:href="${'/admin/categories/' + category.id + '/update'}">
                                           <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                                    <div style="display: inline-block"
                                         data-bs-toggle="tooltip"
                                         data-bs-placement="top"
                                         th:title="#{label.deleteCategory}">
                                        <button class="btn btn-danger btn-sm category-delete-action-btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#categoryDeleteConfirmModal"
                                                th:data-btn-categoryId="${category.id}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mt-5 mb-3 text-center text-secondary">
                    <span th:text="${'Total ' + contentCount + ' results found'}"></span>
                    <br>
                    <span th:text="${'Showing result from ' + startCount + ' to ' + endCount}"></span>
                </div>

                <nav th:if="${pageCount > 1}">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${currentPage <= 1 ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/1' : '/admin/categories/page/1'}}">
                                <i class="fa fa-angles-left"></i>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage <= 1 ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/' + (currentPage - 1) : '/admin/categories/page/' + (currentPage - 1)}}">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>

                        <li class="page-item" th:if="${(currentPage - 2) > 0}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/' + (currentPage - 2) : '/admin/categories/page/' + (currentPage - 2)}}"
                               th:text="${currentPage - 2}"></a>
                        </li>
                        <li class="page-item" th:if="${(currentPage - 1) > 0}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/' + (currentPage - 1) : '/admin/categories/page/' + (currentPage - 1)}}"
                               th:text="${currentPage - 1}"></a>
                        </li>

                        <li class="page-item active" aria-current="page">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/' + currentPage : '/admin/categories/page/'+ currentPage}}"
                               th:text="${currentPage}"></a>
                        </li>

                        <li class="page-item" th:if="${(currentPage + 1) <= pageCount}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/' + (currentPage + 1) : '/admin/categories/page/' + (currentPage + 1)}}"
                               th:text="${currentPage + 1}"></a>
                        </li>
                        <li class="page-item" th:if="${(currentPage + 2) <= pageCount}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/'  + (currentPage + 2) : '/admin/categories/page/' + (currentPage + 2)}}"
                               th:text="${currentPage + 2}"></a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage >= pageCount ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/'  + (currentPage + 1) : '/admin/categories/page/' + (currentPage + 1)}}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage >= pageCount ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{${subCategoryId != null ? '/admin/categories/' + subCategoryId + '/children/page/' + pageCount : '/admin/categories/page/' + pageCount}}">
                                <i class="fa fa-angles-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </div>

            <!-- Delete Confirm Modal -->
            <div class="modal fade"
                 id="categoryDeleteConfirmModal"
                 tabindex="-1"
                 aria-labelledby="categoryDeleteConfirmModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryDeleteConfirmModalLabel" th:text="#{label.deleteCategory}"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" th:text="#{label.deleteCategoryPermanently}"></div>
                        <div class="modal-footer">
                            <div class="spinner-border text-dark d-none" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <button id="categoryDeleteCancelBtn"
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal" th:text="#{label.cancel}"></button>
                            <button id="categoryDeleteConfirmBtn"
                                    type="button"
                                    class="btn btn-danger"
                                    data-modal-categoryId="" th:text="#{label.confirm}"></button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Ajax Response Modal -->
            <div class="modal fade"
                 id="categoryDeleteResponseModal"
                 tabindex="-1"
                 aria-labelledby="categoryDeleteResponseModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="categoryDeleteResponseModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>
            <button id="categoryDeleteResponseModalBtn" class="d-none visually-hidden" type="button" data-bs-toggle="modal" data-bs-target="#categoryDeleteResponseModal"></button>
        </div>
        <div th:replace="fragments :: site-footer"></div>
    </div>

    <script type="text/javascript">
        const categoryDeleteConfirmModal = $('#categoryDeleteConfirmModal');
        const categoryDeleteActionBtn = $('.category-delete-action-btn');
        const categoryDeleteConfirmBtn = $('#categoryDeleteConfirmBtn');
        const categoryDeleteResponseModal = $('#categoryDeleteResponseModal');
        const categoryDeleteResponseModalBtn = $('#categoryDeleteResponseModalBtn');
        const spinner = categoryDeleteConfirmModal.find('.spinner-border');

        categoryDeleteActionBtn.on('click', function () {
            categoryDeleteConfirmBtn.attr('data-modal-categoryId', $(this).attr('data-btn-categoryId'));
        });

        categoryDeleteConfirmBtn.on('click', function () {
            const that = $(this);
            const categoryId = that.attr('data-modal-categoryId');
            const categoryRow = $(`#category_row_${categoryId}`);
            const ajaxUrl = serverContext + `admin/categories/delete`;

            spinner.removeClass('d-none');

            setTimeout(function () {
                $.ajax({
                    type: 'POST',
                    url: ajaxUrl,
                    data: $.param({categoryId, _csrf}),
                    cache: false
                }).done(function (response) {
                    console.log(response);
                    categoryDeleteResponseModal.find('.modal-title').text($('#labelSuccess').text());
                    categoryDeleteResponseModal.find('.modal-body').text(response);
                    categoryDeleteResponseModalBtn.trigger('click');
                    categoryRow.remove();
                }).fail(function (response) {
                    console.log(response);
                    categoryDeleteResponseModal.find('.modal-title').text($('#labelError').text());
                    categoryDeleteResponseModal.find('.modal-body').text(response.responseText);
                    categoryDeleteResponseModalBtn.trigger('click');
                }).always(function () {
                    spinner.addClass('d-none');
                });
            }, 1500);
        });
    </script>
</body>
</html>
