<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: site-header"></div>
</head>
<body>
    <div class="page-wrapper" th:classappend="${#locale}">
        <div th:replace="fragments :: site-navigation"></div>

        <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#" th:text="#{label.admin}"></a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/admin/categories'}" th:text="#{label.categories}"></a></li>
                    <li class="breadcrumb-item" th:if="${categoryUpdate == false}">
                        <a th:href="@{'/admin/categories/create'}" th:text="#{label.addNew}"></a>
                    </li>
                    <li class="breadcrumb-item" th:if="${categoryUpdate == true}">
                        <a th:href="@{'/admin/categories/update/' + ${category.id}}" th:text="#{label.update}"></a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="categoryFormResponseModalWrapper">
                    <button id="categoryFormResponseModalShowBtn"
                            type="button"
                            class="d-none visually-hidden"
                            data-bs-toggle="modal"
                            data-bs-target="#categoryFormResponseModal">
                    </button>

                    <div class="modal fade"
                         id="categoryFormResponseModal"
                         tabindex="-1"
                         aria-labelledby="categoryFormResponseModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="categoryFormResponseModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:text="#{label.close}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offset-lg-2 col-lg-8 mb-4">
                    <div class="user-update-info-form-wrapper card shadow rounded-3">
                        <div class="card-header text-center">
                            <h3 class="p-3" th:text="#{label.addOrUpdateCategory}"></h3>
                        </div>

                        <div class="card-body p-5">
                            <form id="categoryForm" class="needs-validation"
                                  style="max-width: 700px; margin: 0 auto;"
                                  autocomplete="on"
                                  enctype="multipart/form-data"
                                  th:data-categoryId="${category.id}"
                                  th:data-categoryUpdate="${categoryUpdate}"
                                  novalidate>

                                <div class="mb-4">
                                    <div id="photoPreview">
                                        <div id="productPhoto1Preview" class="d-inline-block position-relative">
                                            <img th:src="@{${(category.photoUrl == null) ? '/images/thumbnail.jpg' : '/uploads/category/' + category.photoUrl}}"
                                                 class="img-thumbnail rounded"
                                                 style="max-width: 120px;">
                                        </div>
                                    </div>
                                    <label class="form-label" th:text="#{label.photo}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control upload-photo-input"
                                               type="file"
                                               id="productPhoto1"
                                               name="productPhoto1"
                                               accept="image/png, image/jpeg">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="name" class="form-label" th:text="#{label.name}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control"
                                               type="text"
                                               id="name"
                                               name="name"
                                               maxlength="64"
                                               th:placeholder="#{label.name}"
                                               th:value="${category.name != null ? category.name : ''}">
                                        <div id="nameInvalidFeedback" class="invalid-feedback" th:text="#{category.name.invalid}"></div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="description" class="form-label" th:text="#{label.description}"></label>
                                    <div class="input-group has-validation">
                                        <textarea class="form-control"
                                               type="text"
                                               id="description"
                                               name="description"
                                               maxlength="1024"
                                               rows="5"
                                               th:placeholder="#{label.description}"
                                               th:text="${category.description != null ? category.description : ''}">
                                        </textarea>
                                        <div id="descriptionInvalidFeedback" class="invalid-feedback" th:text="#{category.description.invalid}"></div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="parentCategory" class="form-label" th:text="#{label.parentCategory}"></label>
                                    <div class="input-group has-validation">
                                        <select id="parentCategory" name="parentCategory" class="form-select">
                                            <option th:text="#{label.selectParentCategory}"
                                                    th:value="0"
                                                    th:selected="${category.parentCategory == null}"></option>
                                            <option th:each="cat: ${allCategories}"
                                                    th:value="${cat.id}"
                                                    th:text="${cat.name}"
                                                    th:selected="${category.parentCategory != null && cat.id == category.parentCategory.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               id="enabled"
                                               name="enabled"
                                               th:field="${category.enabled}"
                                               th:value="${category.enabled}">
                                        <span th:text="#{label.enabled}"></span>
                                    </div>
                                </div>

                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                                <div id="categoryFormSubmitBtn">
                                    <div class="text-center mt-3">
                                        <div class="spinner-border text-dark d-none align-middle me-3" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <button class="btn btn-primary align-middle mr-2" type="submit">
                                            <span th:text="#{label.saveCategory}"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments :: site-footer"></div>
    </div>
    <script type="text/javascript">
        const categoryForm = $('#categoryForm');
        const categoryFormSubmitBtn = $('#categoryFormSubmitBtn');
        const formControls = $('.form-control');
        const categoryFormResponseModal = $('#categoryFormResponseModal');
        const categoryFormResponseModalShowBtn = $('#categoryFormResponseModalShowBtn');
        const categoryUpdate = categoryForm.attr("data-categoryUpdate");
        const categoryId = categoryForm.attr("data-categoryId");

        categoryForm.on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();

            const that = $(this);
            let ajaxUrl = '';
            if (categoryUpdate === "false") {
                ajaxUrl = serverContext + `admin/categories/create`;
            } else {
                ajaxUrl = serverContext + `admin/categories/update`;
            }
            const invalidFormControls = $('.form-control:invalid');
            const photo = $('#productPhoto1')[0].files[0];
            let formData = new FormData(that[0]);
            formData.append('categoryPhoto', photo);
            formData.append("categoryId", categoryId);

            if (invalidFormControls.length <= 0) {
                categoryFormSubmitBtn.find('.spinner-border').removeClass('d-none');

                setTimeout(function () {
                    $.ajax({
                        type: 'POST',
                        enctype: 'multipart/form-data',
                        processData: false,
                        contentType: false,
                        url: ajaxUrl,
                        data: formData,
                        cache: false
                    }).done(function (response) {
                        categoryFormResponseModal.find('.modal-title').text($('#labelSuccess').text());
                        categoryFormResponseModal.find('.modal-body').text(response);
                        categoryFormResponseModalShowBtn.trigger('click');
                    }).fail(function (response) {
                        that.removeClass('was-validated');
                        formControls.removeClass('is-invalid');
                        console.log(response)

                        const fieldErrors = response.responseJSON;
                        if (fieldErrors) {
                            for (const field in fieldErrors) {
                                $('#' + field).addClass('is-invalid');
                            }
                        } else {
                            categoryFormResponseModal.find('.modal-title').text($('#labelError').text());
                            categoryFormResponseModal.find('.modal-body').text(response.responseText);
                            categoryFormResponseModalShowBtn.trigger('click');
                        }
                    }).always(function () {
                        categoryFormSubmitBtn.find('.spinner-border').addClass('d-none');
                    });
                }, 1500);
            }
        });
    </script>
</body>
</html>
