<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: site-header"></div>
</head>
<body>
    <div class="page-wrapper" th:classappend="${#locale}">
        <div th:replace="fragments :: site-navigation"></div>

        <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/products'}" th:text="#{label.products}"></a></li>
                    <li class="breadcrumb-item">
                        <a th:href="@{'/products/page/1?categoryId=' + ${product.category.id}}" th:text="${product.category.name}"></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{'/products/page/1?brandId=' + ${product.brand.id}}" th:text="${product.brand.name}"></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}"></a>
                    </li>
                </ol>
            </nav>
        </div>

        <div class="container" style="margin-top: 50px">
            <div class="row shadow rounded-3 p-5" style="min-height: 500px;">
                <div id="productSingleCarousel"
                     class="product-single-carousel carousel carousel-dark slide col-4"
                     data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="productPhoto, iter: ${product.productPhotos}"
                             class="carousel-item"
                             th:classappend="${iter.count == 1 ? 'active' : ''}" th:if="${product.productPhotos.size() > 0}">
                            <img th:src="@{'/uploads/product/' + ${productPhoto.photoUrl}}"
                                 class="d-block w-100"
                                 alt="...">
                        </div>
                        <div class="carousel-item active" th:if="${product.productPhotos.size() <= 0}">
                            <img th:src="@{'/images/thumbnail.jpg'}"
                                 class="d-block w-100"
                                 alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#productSingleCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Prev</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#productSingleCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="product-single-features col-8">
                    <h3 id="productName" th:text="${product.name}"></h3>
                    <p class="mt-2" th:text="${product.shortDescription}"></p>
                    <h2 id="productPrice" style="color: #1c8acb;">
                        <span th:text="${@environment.getProperty('site.currency') + ' '}"></span>
                        <span th:text="${product.resalePrice}"></span>
                    </h2>
                    <span class="rounded-pill text-light d-inline-block mt-3"
                          style="padding: 5px 15px;"
                          th:classappend="${product.inStock == true ? 'btn-success' : 'btn-danger'}">
                        <span th:if="${product.inStock == true}" th:text="#{label.inStock}"></span>
                        <span th:if="${product.inStock != true}" th:text="#{label.outOfStock}"></span>
                    </span>
                    <br>
                    <button id="addToCartBtn"
                            class="btn btn-lg btn-primary align-middle mt-3 me-2"
                            th:data-userId="${authUser != null ? authUser.id : null}"
                            th:data-productId="${product.id}"
                            th:classappend="${product.inStock != true || authUser == null ? 'disabled' : ''}"
                            th:text="#{label.addToCart}"></button>
                    <div id="cartSpinner" class="spinner-border text-dark align-middle d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <br>
                    <small class="d-inline-block mt-2"
                           style="color: #777777;"
                           th:if="${authUser == null}"
                           th:text="#{label.loginAddToCart}"></small>
                </div>
            </div>

            <div class="row card shadow rounded-3 mt-5" th:if="${product.description != null && product.description.length() > 0}">
                <div class="card-header p-4">
                    <h4 th:text="#{label.description}"></h4>
                </div>
                <div class="card-body p-4">
                    <p th:text="${product.description}"></p>
                </div>
            </div>

            <!-- Ajax Response Modal -->
            <div class="modal fade"
                 id="cartResponseModal"
                 tabindex="-1"
                 aria-labelledby="cartResponseModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="cartResponseModalLabel"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"></div>
                    </div>
                </div>
            </div>
            <button id="cartResponseModalBtn" class="d-none visually-hidden" type="button" data-bs-toggle="modal" data-bs-target="#cartResponseModal"></button>
        </div>
        <div th:replace="fragments :: site-footer"></div>
        <span id="labelQty" th:text="#{label.qty}" class="d-none visually-hidden"></span>
        <span id="labelPrice" th:text="#{label.price}" class="d-none visually-hidden"></span>
        <span id="labelTotal" th:text="#{label.total}" class="d-none visually-hidden"></span>
    </div>

    <script type="text/javascript">
        const addToCartBtn = $('#addToCartBtn');
        const cartResponseModal = $('#cartResponseModal');
        const cartResponseModalBtn = $('#cartResponseModalBtn');
        const spinner = $('#cartSpinner');
        const cartPreviewItems = $('#cartPreviewItems');
        const cartPreviewItemCount = $('#cartPreviewItemCount');
        const cartPreviewTotalPrice = $('#cartPreviewTotalPrice');
        const cartPreviewBtn = $('#cartPreviewBtn');
        const cartPreviewNoItem = $('#cartPreviewNoItem');

        addToCartBtn.on('click', function () {
            const that = $(this);
            const userId = that.attr('data-userId');
            const productId = that.attr('data-productId');
            const quantity = 1;
            const productName = $('#productName');
            const productPrice = $('#productPrice span:last-child');
            const ajaxUrl = serverContext + 'cart/item/add';

            spinner.removeClass('d-none');

            setTimeout(function () {
                $.ajax({
                    type: 'POST',
                    url: ajaxUrl,
                    data: $.param({userId, productId, quantity, _csrf}),
                    cache: false
                }).done(function (response) {
                    cartResponseModal.find('.modal-title').text($('#labelSuccess').text());
                    cartResponseModal.find('.modal-body').text(response);
                    cartResponseModalBtn.trigger('click');

                    const cartPreviewItem = `
                        <li>
                            <div class="p-2" style="width: 300px;">
                                <a href="${serverContext}products/${productId}">${productName.text()}</a>
                                <br>
                                <span>${$('#labelQty').text()}: ${quantity}</span>
                                <br>
                                <span>${$('#labelPrice').text()}: ${productPrice.text()}</span>
                            </div>
                        </li>
                        <hr class="dropdown-divider">
                    `;

                    cartPreviewItems.append(cartPreviewItem);
                    cartPreviewItemCount.text(parseInt(cartPreviewItemCount.text()) + 1);
                    cartPreviewTotalPrice.text(parseFloat(cartPreviewTotalPrice.text()) + parseFloat(productPrice.text()));
                    cartPreviewBtn.removeClass('d-none');
                    cartPreviewNoItem.addClass('d-none');
                }).fail(function (response) {
                    cartResponseModal.find('.modal-title').text($('#labelError').text());
                    cartResponseModal.find('.modal-body').text(response.responseText);
                    cartResponseModalBtn.trigger('click');
                }).always(function () {
                    spinner.addClass('d-none');
                });
            }, 1500);
        });
    </script>
</body>
</html>
