<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: site-header"></div>
</head>
<body>
    <div class="page-wrapper" th:classappend="${#locale}">
        <div th:replace="fragments :: site-navigation"></div>

        <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/signup'}" th:text="#{label.signup}"></a></li>
                </ol>
            </nav>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="signupResponseModalWrapper">
                    <button id="signupResponseModalShowBtn"
                            type="button"
                            class="d-none visually-hidden"
                            data-bs-toggle="modal"
                            data-bs-target="#signupResponseModal">
                    </button>

                    <div class="modal fade"
                         id="signupResponseModal"
                         tabindex="-1"
                         aria-labelledby="signupResponseModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="signupResponseModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:text="#{label.close}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offset-lg-2 col-lg-8 mb-4">
                    <div class="signup-form-wrapper card shadow">
                        <div class="card-header text-center">
                            <h3 class="p-3" th:text="#{form.header.signup}"></h3>
                        </div>

                        <div class="card-body p-5">
                            <form id="signupForm" class="signup-form needs-validation"
                                  style="max-width: 700px; margin: 0 auto;"
                                  autocomplete="off"
                                  novalidate>

                                <div class="mb-4">
                                    <label for="email" class="form-label" th:text="#{label.email}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control signup-input signup-input-email"
                                               type="text"
                                               id="email"
                                               name="email"
                                               minlength="4"
                                               maxlength="64"
                                               th:placeholder="#{label.email}"
                                               aria-describedby="email-input-group-text emailInvalidFeedback"
                                               required>
                                        <div id="emailInvalidFeedback" class="invalid-feedback" th:text="#{user.email.invalid}"></div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="password" class="form-label" th:text="#{label.password}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control signup-input signup-input-password"
                                               type="password"
                                               id="password"
                                               name="password"
                                               minlength="6"
                                               maxlength="32"
                                               th:placeholder="#{label.password}"
                                               aria-describedby="password-input-group-text passwordInvalidFeedback"
                                               required>
                                        <div id="passwordInvalidFeedback" class="invalid-feedback" th:text="#{user.password.invalid}"></div>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="passwordRepeat" class="form-label" th:text="#{label.passwordRepeat}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control signup-input signup-input-passwordRepeat"
                                               type="password"
                                               id="passwordRepeat"
                                               name="passwordRepeat"
                                               minlength="6"
                                               maxlength="32"
                                               th:placeholder="#{label.passwordRepeat}"
                                               aria-describedby="passwordRepeat-input-group-text passwordRepeatInvalidFeedback"
                                               required>
                                        <div id="passwordRepeatInvalidFeedback" class="invalid-feedback" th:text="#{user.passwordRepeat.invalid}"></div>
                                    </div>
                                </div>

                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                                <div id="signupSubmitBtn" class="signup-submit-btn">
                                    <div class="text-center mt-3">
                                        <div class="spinner-border text-dark d-none me-3" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <button class="btn btn-primary mr-2" type="submit">
                                            <span th:text="#{label.signup}"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments :: site-footer"></div>
        <span id="signupSuccessHeader" class="d-none visually-hidden" th:text="#{label.accountCreatedHeader}"></span>
        <span id="signupSuccessDetail" class="d-none visually-hidden" th:text="#{label.accountCreatedDetail}"></span>
    </div>

    <script type="text/javascript" th:src="@{/js/user-signup-page.js}">

    </script>
</body>
</html>
