<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: site-header"></div>
</head>
<body>
    <div class="page-wrapper" th:classappend="${#locale}">
        <div th:replace="fragments :: site-navigation"></div>

        <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/profile'}" th:text="#{label.profile}"></a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/profile/update/info'}" th:text="#{label.updateInfo}"></a></li>
                </ol>
            </nav>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="userUpdateInfoResponseModalWrapper">
                    <button id="userUpdateInfoResponseModalShowBtn"
                            type="button"
                            class="d-none visually-hidden"
                            data-bs-toggle="modal"
                            data-bs-target="#userUpdateInfoResponseModal">
                    </button>

                    <div class="modal fade"
                         id="userUpdateInfoResponseModal"
                         tabindex="-1"
                         aria-labelledby="userUpdateInfoResponseModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="userUpdateInfoResponseModalLabel"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:text="#{label.close}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="offset-lg-2 col-lg-8 mb-4">
                    <div class="user-update-info-form-wrapper card shadow rounded-3">
                        <div class="card-header text-center">
                            <h3 class="p-3" th:text="#{form.header.user.update.info}"></h3>
                        </div>

                        <div class="card-body p-5">
                            <form id="userUpdateInfoForm" class="user-update-info-form needs-validation"
                                  th:data-userId="${user.id}"
                                  style="max-width: 700px; margin: 0 auto;"
                                  autocomplete="off"
                                  enctype="multipart/form-data"
                                  novalidate>

                                <div class="mb-4">
                                    <div id="photoPreview">
                                        <div id="productPhoto1Preview" class="d-inline-block position-relative">
                                            <img th:src="@{${(user.photoUrl == null) ? '/images/avatar.jpg' : '/uploads/user/' + user.photoUrl}}"
                                                 class="img-thumbnail rounded"
                                                 style="max-width: 120px;">
                                        </div>
                                    </div>
                                    <label class="form-label" th:text="#{label.photo}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control upload-photo-input"
                                               type="file"
                                               id="productPhoto1"
                                               name="productPhoto1"
                                               accept="image/png, image/jpeg">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="firstName" class="form-label" th:text="#{label.firstName}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="text"
                                               id="firstName"
                                               name="firstName"
                                               maxlength="32"
                                               th:placeholder="#{label.firstName}"
                                               th:value="${user.firstName != null ? user.firstName : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="lastName" class="form-label" th:text="#{label.lastName}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="text"
                                               id="lastName"
                                               name="lastName"
                                               maxlength="32"
                                               th:placeholder="#{label.lastName}"
                                               th:value="${user.lastName != null ? user.lastName : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="birthDate" class="form-label" th:text="#{label.birthDate}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="date"
                                               id="birthDate"
                                               name="birthDate"
                                               maxlength="32"
                                               th:value="${user.birthDate != null ? user.birthDate : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="form-label" th:text="#{label.gender}"></div>
                                    <div class="form-check"  style="margin: 5px 15px 0;">
                                        <input type="radio"
                                               id="genderMale"
                                               class="form-check-input"
                                               name="gender"
                                               value="Male"
                                               th:checked="${user.gender == 'Male'}">
                                        <label for="genderMale" th:text="#{label.male}"></label>
                                    </div>
                                    <div class="form-check" style="margin: 5px 15px 0;">
                                        <input type="radio"
                                               id="genderFemale"
                                               class="form-check-input"
                                               name="gender"
                                               value="Female"
                                               th:checked="${user.gender == 'Female'}">
                                        <label for="genderFemale" th:text="#{label.female}"></label>
                                    </div>

                                    <div class="invalid-feedback" th:text="#{user.gender.invalid}"></div>
                                </div>

                                <div class="mb-4">
                                    <label for="addressLineOne" class="form-label" th:text="#{label.addressLineOne}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="text"
                                               id="addressLineOne"
                                               name="addressLineOne"
                                               maxlength="128"
                                               th:placeholder="#{label.addressLineOne}"
                                               th:value="${address.addressLineOne != null ? address.addressLineOne : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="addressLineTwo" class="form-label" th:text="#{label.addressLineTwo}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="text"
                                               id="addressLineTwo"
                                               name="addressLineTwo"
                                               maxlength="128"
                                               th:placeholder="#{label.addressLineTwo}"
                                               th:value="${address.addressLineTwo != null ? address.addressLineTwo : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="city" class="form-label" th:text="#{label.city}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="text"
                                               id="city"
                                               name="city"
                                               maxlength="32"
                                               th:placeholder="#{label.city}"
                                               th:value="${address.city != null ? address.city : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="state" class="form-label" th:text="#{label.state}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="text"
                                               id="state"
                                               name="state"
                                               maxlength="32"
                                               th:placeholder="#{label.state}"
                                               th:value="${address.state != null ? address.state : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="zipCode" class="form-label" th:text="#{label.zipCode}"></label>
                                    <div class="input-group has-validation">
                                        <input class="form-control user-update-info-input"
                                               type="text"
                                               id="zipCode"
                                               name="zipCode"
                                               maxlength="32"
                                               th:placeholder="#{label.zipCode}"
                                               th:value="${address.zipCode != null ? address.zipCode : ''}">
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="country" class="form-label" th:text="#{label.country}"></label>
                                    <div class="input-group has-validation">
                                        <select id="country" name="country" class="form-select">
                                            <option th:text="#{label.selectCountry}"
                                                    th:value="0"
                                                    th:selected="${address.country == null}"></option>
                                            <option th:each="country: ${countries}"
                                                    th:value="${country.id}"
                                                    th:text="${country.name}"
                                                    th:selected="${address.country != null && address.country.id == country.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                                <div id="userUpdateInfoSubmitBtn">
                                    <div class="text-center mt-3">
                                        <div class="spinner-border text-dark d-none align-middle me-3" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <button class="btn btn-primary align-middle mr-2" type="submit">
                                            <span th:text="#{label.saveUpdates}"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments :: site-footer"></div>
    </div>

    <script type="text/javascript" th:src="@{/js/user-update-info-page.js}"></script>
</body>
</html>
