<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: site-header"></div>
</head>
<body>
    <div class="page-wrapper" th:classappend="${#locale}">
        <div th:replace="fragments :: site-navigation"></div>

        <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a th:href="@{'/'}"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a th:href="@{'/reset-password'}" th:text="#{label.resetPassword}"></a></li>
                </ol>
            </nav>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div th:if="${token == false}"
                     class="card d-flex aligns-items-center justify-content-center bg-danger text-white me-auto ms-auto shadow"
                     style="max-width: 32rem; margin-top: 100px">
                    <div class="card-header"><h5 th:text="#{label.invalidToken}"></h5></div>
                    <div class="card-body">
                        <p class="card-text" th:text="#{label.invalidTokenDetail}"></p>
                    </div>
                </div>

                <div th:if="${token != false}">
                    <div class="resetPasswordResponseModalWrapper">
                        <button id="resetPasswordResponseModalShowBtn"
                                type="button"
                                class="d-none visually-hidden"
                                data-bs-toggle="modal"
                                data-bs-target="#resetPasswordResponseModal">
                        </button>

                        <div class="modal fade"
                             id="resetPasswordResponseModal"
                             tabindex="-1"
                             aria-labelledby="resetPasswordResponseModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="resetPasswordResponseModalLabel"></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body"></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:text="#{label.close}"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-2 col-lg-8 mb-4">
                        <div class="reset-password-form-wrapper card shadow">
                            <div class="card-header text-center">
                                <h3 th:text="#{label.getNewPassword}"></h3>
                            </div>

                            <div class="card-body p-5">
                                <form id="resetPasswordForm"
                                      class="reset-password-form needs-validation"
                                      th:data-token="${token != false ? token : ''}"
                                      style="max-width: 700px; margin: 0 auto;"
                                      autocomplete="off"
                                      novalidate>

                                    <div class="mb-4">
                                        <label for="password" class="form-label" th:text="#{label.newPassword}"></label>
                                        <input class="form-control reset-password-input"
                                               type="password"
                                               id="password"
                                               name="password"
                                               minlength="6"
                                               maxlength="32"
                                               th:placeholder="#{label.newPassword}"
                                               aria-describedby="resetPasswordInvalidFeedback"
                                               required>
                                        <div id="resetPasswordInvalidFeedback" class="invalid-feedback" th:text="#{user.password.invalid}"></div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="passwordRepeat" class="form-label" th:text="#{label.repeatNewPassword}"></label>
                                        <input class="form-control reset-password-input"
                                               type="password"
                                               id="passwordRepeat"
                                               name="passwordRepeat"
                                               minlength="6"
                                               maxlength="32"
                                               th:placeholder="#{label.repeatNewPassword}"
                                               aria-describedby="resetPasswordRepeatInvalidFeedback"
                                               required>
                                        <div id="resetPasswordRepeatInvalidFeedback" class="invalid-feedback" th:text="#{user.passwordRepeat.invalid}"></div>
                                    </div>

                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                                    <div id="resetPasswordSubmitBtn" class="reset-password-submit-btn">
                                        <div class="text-center mt-3">
                                            <div class="spinner-border text-dark d-none me-3" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                            <button class="btn btn-primary mr-2" type="submit" th:text="#{label.resetPassword}"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments :: site-footer"></div>
    </div>

    <script type="text/javascript">
        const resetPasswordForm = $('#resetPasswordForm');
        const resetPasswordSubmitBtn = $('#resetPasswordSubmitBtn');
        const formControls = $('.form-control');
        const resetPasswordResponseModal = $('#resetPasswordResponseModal');
        const resetPasswordResponseModalShowBtn = $('#resetPasswordResponseModalShowBtn');

        resetPasswordForm.on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();

            const that = $(this);
            const token = that.attr('data-token');
            const ajaxUrl = serverContext + "reset-password";
            const formData = that.serialize() + `&token=${token}`;
            const invalidFormControls = $('.form-control:invalid');

            if (invalidFormControls.length <= 0) {
                resetPasswordSubmitBtn.find('.spinner-border').removeClass('d-none');

                setTimeout(function () {
                    $.ajax({
                        type: 'POST',
                        url: ajaxUrl,
                        data: formData,
                        cache: false
                    }).done(function (response) {
                        console.log(response)
                        resetPasswordResponseModal.find('.modal-title').text($('#labelSuccess').text());
                        resetPasswordResponseModal.find('.modal-body p').text(response);
                        resetPasswordResponseModalShowBtn.trigger('click');
                    }).fail(function (response) {
                        that.removeClass('was-validated');
                        formControls.removeClass('is-invalid');

                        const fieldErrors = response.responseJSON;
                        if (fieldErrors) {
                            for (const field in fieldErrors) {
                                $('#' + field).addClass('is-invalid');
                            }
                        } else {
                            resetPasswordResponseModal.find('.modal-title').text($('#labelError').text());
                            resetPasswordResponseModal.find('.modal-body p').text(response.responseText);
                            resetPasswordResponseModalShowBtn.trigger('click');
                        }
                    }).always(function () {
                        resetPasswordSubmitBtn.find('.spinner-border').addClass('d-none');
                    });
                }, 1500);
            }
        });
    </script>
</body>
</html>
